.h1{
    padding: 20px;
    text-align: center;
    letter-spacing: 5px; 
}

.h1:hover{
    transform: scale(1.2) translateY(15px);
}

.h2{
    text-align: center;
    padding: 10px;
    letter-spacing: 2px;
      
}

.icons{
    margin-left: 5px;
    transform: scale(1.05);
}

.icons:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.5);
}